body {
    /* background-color: red; */
    background-image: url("../assets/danceCat.gif");
    background-repeat: repeat;
    background-size: 20% 30%;
    font-family: "Patua One", cursive;
}

/*All the top screen*/
#title {
    background-color: rgb(122, 169, 222);
    /* margin: auto; */
    width: 1040px;
    font-size: 70px;
    text-align: center;
    color: rgb(32, 101, 158);
    border-radius: 15px;
    margin-bottom: 10px;
    border: 5px solid rgb(32, 101, 158);
}

#audio {
    display: none;
}

#gameScreen {
    height: 40%;
    /* background-color: green; */
    /* margin: auto; */
    width: 1040px;
    z-index: 1;
}

#startImage {
    /* background-color: grey; */
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right:auto;
}

#catImage {
    width: 100%;
}

#blindSquare {
    background-color: rgb(122, 169, 222);
    border: 5px solid rgb(32, 101, 158);
    border-radius: 15px;
    height: 549px;
    width: 1040px;
    margin: 0 auto;
    z-index: 3;
    position: absolute;
}
/*End top screen*/

/*Start Game Options*/
#startGameOptions {
    /* background-color: bliue; */
    width: 1040px;
    height: 100px;
    display: flex;
    /* margin: auto; */
}

#startGameButton {
    background-color: rgb(254, 186, 180);
    width: 40%;
    height: 100%;
    border-radius: 15px;
    font-size: 50px;
    text-align: center;
    margin: auto;
    line-height: 200%;
    color: rgb(245, 120, 117);
    border: 5px solid rgb(245, 120, 117);
}

#startGameButton:hover {
    font-size: 60px;
    line-height: 150%;
}

#rulesButton {
    background-color: rgb(254, 186, 180);
    color: rgb(245, 120, 117);
    border: 5px solid rgb(245, 120, 117);
    width: 40%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
    margin: auto;
    line-height: 200%;
}

#rulesButton:hover {
    font-size: 60px;
    line-height: 150%;
}
/*End of Start Game Options*/

/*Start Rules*/
#rulesWindow {
    background-color: rgba(140,140,140,0.8);
    padding: 10px;
    width: 1020px;
    position: absolute;
    z-index: 7;
}

#rulesDescrip {
    color: white;
    font-size: 20px;
}

#closeRulesButton {
    color: white;
    background-color: rgb(245, 120, 117);
    padding: 10px;
    width: 10%;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

#closeRulesButton:hover {
    font-size: 110%;
}
/*End Rules*/

/*Start Menu*/
#midGameOptions {
    margin: auto;
    display: flex;
    width: 1040px;
    height: 100px;
    position: absolute;
    z-index: 4;
}

#menuButton {
    background-color: rgb(102, 149, 222);
    color: white;
    padding: 10px;
    width: 30%;
    height: 80px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-size: 50px;
    line-height: 150%;
    border: 5px solid rgb(32, 101, 158);
}

#menuButton:hover {
    font-size: 60px;
    line-height: 125%;
}

#menuOptions {
    background-color: rgba(102, 149, 222);
    border: 5px solid rgb(32, 101, 158);
    color: white;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 6;
    left: 345px;
    top: 150px;
    margin: auto;
    border-radius: 10px;
}

.menuOptionButton {
    background-color: rgb(32, 101, 158);
    border-radius: 10px;
    width: 95%;
    height: 18%;
    margin: auto;
    color: white;
    margin-top: 5%;
    font-size: 35px;
    text-align: center;
    line-height: 150%;
}

#areYouSure {
    background-color: rgb(254, 186, 180);
    color: rgb(245, 120, 117);
    border: 5px solid rgb(245, 120, 117);
    border-radius: 10px;
    position: absolute;
    z-index: 7;
    width: 350px;
    height: 200px;
    left: 345px;
    top: 175px;
    margin: auto;
    text-align: center;
    padding-top: 1%;
    font-size: 30px;
}

#imSure {
    background-color: rgb(245, 120, 117);
    color: white;
    width: 75%;
    height: 30%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
    line-height: 200%;
}

#imSure:hover {
    font-size: 35px;
}

#notSure {
    background-color: rgb(245, 120, 117);
    color: white;
    width: 75%;
    height: 30%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
    line-height: 200%;
}

#notSure:hover {
    font-size: 35px;
}

#placeButton {
    background-color: rgba(102, 149, 222);
    border: 5px solid rgb(32, 101, 158);
    color: white;
    padding: 10px;
    width: 30%;
    height: 80px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-size: 50px;
    line-height: 150%;
}

#placeButton:hover {
    font-size: 60px;
    line-height: 125%;
}
/*End Menu*/

/*Start Mid-Game*/
#partsDiv {
    background-color: rgb(102, 149, 222);
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
    z-index: 4;
    /* text-align: center; */
    padding-top: 7px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid rgb(32, 101, 158);
}

#partsDivTitle {
    color: white;
    text-align: center;
    font-size: 24px;
}

.dragDiv {
    width: 200px;
    height: 150px;
    margin: auto;
    z-index: 4;
    position: absolute;
    padding-left: 25px;
    padding-top: 30px;
    top: 30px;
    left: 10px;
}

.clickDragDiv {
    width: 200px;
    height: 150px;
    margin: auto;
    z-index: 5;
    position: absolute;
}

.clickDragDiv:hover {
    cursor: move;
}

.placedDiv {
    position: absolute;
    width: 200px;
    height: 150px;
    margin: auto;
    z-index: 4;
    padding-left: 25px;
    padding-top: 30px;
    top: 30px;
    left: 10px;
}

#finalGameOptions {
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    width: 1040px;
    height: 100px;
    position: absolute;
    z-index: 4;
}

#replayButton {
    background-color: rgb(254, 186, 180);
    color: rgb(245, 120, 117);
    border: 5px solid rgb(245, 120, 117);
    padding: 10px;
    width: 30%;
    height: 80px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-size: 50px;
    line-height: 150%;
}

#replayButton:hover {
    font-size: 60px;
    line-height: 125%;
}

#returnToMain {
    background-color: rgb(254, 186, 180);
    color: rgb(245, 120, 117);
    border: 5px solid rgb(245, 120, 117);
    padding: 10px;
    width: 30%;
    height: 80px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-size: 40px;
    line-height: 40px;
}

#returnToMain:hover {
    font-size: 42px;
    line-height: 42px;
}